<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BalanceComName" value="COM4" />
        <add key="BalanceBaudRate" value="9600" />
        <add key="BalanceParity" value="None" />
        <add key="BalanceDataBits" value="8" />
        <add key="BalanceStopBits" value="One" />
    </appSettings>
</configuration>